@(course: Course)(lesson: Integer)

@main(course.title) {

    @sidebar()

    <div class="main">

        @flashmessage()

        <div class="block">
            <span class="label label-success">@course.category.name</span>
            @if(course.`type`.equals(Course.CourseType.COURSE)){<span class="label label-info">Курс</span>}
            <h2>@course.title</h2>

            <div class="accordion" id="accordioninfo">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordioninfo" href="#courseinfo">Описание</a>
                    </div>
                    <div id="courseinfo" class="accordion-body collapse @if(lesson>0){out}else{in}">
                        <div class="accordion-inner">
                            <div class="description">
                                @if(course.cover!=null) {
                                    <p class="cover">
                                        <img src="@routes.Covers.get(course.cover.id.toString)" alt="@course.title">
                                    </p>
                                }
                                <div>@course.description</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion">
                @for(i <- 1 to course.lessons().size()) {
                    <a name="lesson@i"></a>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" href="@routes.Courses.view(course.id.toString, i)#lesson@i">@course.lessons().get(i-1).title</a>
                        </div>
                        <div class="accordion-body collapse @if(i==lesson){in}else{out}">
                            <div class="accordion-inner">
                                @Html(course.lessons().get(i-1).playerCode)
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="meta">
                <div class="date">
                    <i class="fa fa-calendar"></i> @course.updateDate.format("d MMMM, yyyy")
                </div>
                <div class="views">
                    <i class="fa fa-eye"></i> @course.viewsCount
                </div>
                <div class="author">
                    <i class="fa fa-user"></i> @course.member.getName
                </div>
            </div>
        </div>
    </div>

}
