@(formAction: String)(form: helpers.CourseForm)
@main() {

    @sidebar()

    <div class="main">
        <div class="block">
            <h2>Добавить контент</h2>
            <form action="@formAction" class="add" method="post">
                <input type="hidden" name="contentType" value="lesson" id="contentType">

                <div role="tabpanel">

                    <ul class="nav nav-tabs" role="tablist" style="height: 44px;">
                        <li role="presentation" class="active"><a href="#tablesson" aria-controls="tablesson" role="tab" data-toggle="tab">Урок</a></li>
                        <li role="presentation"><a href="#tabcourse" aria-controls="tabcourse" role="tab" data-toggle="tab">Курс</a></li>
                    </ul>


                    <div class="tab-content">

                        <!-- Lesson tab -->
                        <div role="tabpanel" class="tab-pane active" id="tablesson">
                            <div class="form-group@if(form.hasError("category")){ has-error}">
                                <select name="lesson[category]" class="form-control" required="required">
                                    <option value="">Категория*</option>
                                    <option value="">----------</option>
                                    @for(c <- Category.getActiveCategories) {
                                        <option value="@c.slug"@if(c.slug.equals(form.getValue("category"))){ selected="selected"}>@c.name</option>
                                    }
                                </select>
                                <p class="help-block">@form.getError("category")</p>
                            </div>
                            <div class="form-group@if(form.hasError("title")){ has-error}">
                                <input type="text" name="lesson[title]" class="form-control" required="required" placeholder="Заголовок*" value="@form.getValue("title")">
                                <p class="help-block">@form.getError("title")</p>
                            </div>
                            <div class="form-group@if(form.hasError("description")){ has-error}">
                                <textarea  name="lesson[description]" class="form-control" required="required" rows="10" placeholder="Описание урока*">@form.getValue("description")</textarea>
                                <p class="help-block">@form.getError("description")</p>
                            </div>
                            <div class="form-group@if(form.hasError("cover")){ has-error}">
                                <input type="hidden" name="lesson[cover]" id="lessonCover" value="">
                                <input type="text" class="form-control coverinput" id="lessonCoverInput" placeholder="URL изображения" value="@form.getLessonValue(0, "cover")">
                                <!--
                                    <img src="cover" alt="">
                                    <button type="button">clear</button>
                                -->
                                <p class="help-block">@form.getError("cover")</p>
                            </div>
                            <div class="form-group@if(form.hasLessonError(0, "playerCode")){ has-error}">
                                <textarea  name="lesson[playerCode]" class="form-control" required="required" rows="4" placeholder="Код плеера*">@form.getLessonValue(0, "playerCode")</textarea>
                                <p class="help-block has-error">@form.getLessonError(0, "playerCode")</p>
                            </div>
                        </div>

                        <!-- Course tab -->
                        <div role="tabpanel" class="tab-pane" id="tabcourse">

                            <div class="accordion" id="accordioncourse">
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordioncourse" href="#description">Описание курса</a>
                                    </div>
                                    <div id="description" class="accordion-body collapse in">
                                        <div class="form-group">
                                            <select name="course[category]" class="form-control">
                                                <option value="">Категория*</option>
                                                <option value="">----------</option>
                                                @for(c <- Category.getActiveCategories) {
                                                    <option value="@c.slug">@c.name</option>
                                                }
                                            </select>
                                            <p class="help-block has-error"></p>
                                        </div>
                                        <div class="form-group has-success">
                                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Заголовок*">
                                            <p class="help-block has-error">Lorem ipsum dolor</p>
                                        </div>
                                        <div class="form-group has-success">
                                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="URL изображения">
                                        </div>
                                        <div class="form-group has-success">
                                            <textarea class="form-control" rows="10" placeholder="Описание курса*"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <div class="clear">
                                            <a class="left accordion-toggle" data-toggle="collapse" data-parent="#accordioncourse" href="#lesson1">Урок 1</a>
                                            <a class="right delete btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </div>
                                    <div id="lesson1" class="accordion-body collapse out">
                                        <div class="form-group has-success">
                                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Заголовок урока*">
                                            <p class="help-block has-error">Lorem ipsum dolor</p>
                                        </div>
                                        <div class="form-group has-success">
                                            <textarea class="form-control" rows="6" placeholder="Код плеера*"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <div class="clear">
                                            <a class="left accordion-toggle" data-toggle="collapse" data-parent="#accordioncourse" href="#lesson2">Урок 2</a>
                                            <a class="right delete btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </div>
                                    <div id="lesson2" class="accordion-body collapse out">
                                        <div class="form-group has-success">
                                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Заголовок урока*">
                                            <p class="help-block has-error">Lorem ipsum dolor</p>
                                        </div>
                                        <div class="form-group has-success">
                                            <textarea class="form-control" rows="6" placeholder="Код плеера*"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <button type="button" class="btn btn-success" onclick="$('#accordioncourse').append('<div class=&quot;accordion-group&quot;><div class=&quot;accordion-heading&quot;><div class=&quot;clear&quot;><a href=&quot;&quot; class=&quot;left&quot;>Урок N</a><a class=&quot;right delete btn btn-danger btn-xs&quot;><i class=&quot;fa fa-trash-o&quot;></i></a></div></div><div id=&quot;lesson3&quot; class=&quot;accordion-body collapse out&quot;></div></div>');">
                                <i class="fa fa-plus"></i> Добавить урок
                            </button>
                            <br><br>

                        </div>
                    </div>

                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>

    <script>
    $(function(){

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            if (e.target.hash == '#tabcourse') {
                $('#contentType' ).val('course');
                $('#tablesson input, #tablesson select, #tablesson textarea').removeAttr("required");
                $('#tabcourse input, #tabcourse select, #tabcourse textarea' ).not('.coverinput').attr("required", "required");
            } else {
                $('#contentType' ).val('lesson');
                $('#tablesson input, #tablesson select, #tablesson textarea').not('.coverinput').attr("required", "required");
                $('#tabcourse input, #tabcourse select, #tabcourse textarea').removeAttr("required");
            }
        });
    });
    </script>

}
