<div class="sidebar">
    <div class="fixedcontainer">
        @if(services.MemberService.isLogged()) {
            <div class="block">
                <h3>Пульт</h3>
                <ul>
                    <li><a href="/add">Добавить контент</a></li>
                    <li><a href="/my">Мой контент</a></li>
                </ul>
            </div>
        }

        <div class="block categories">
            <h3>Категории</h3>
            <ul>

            </ul>
        </div>
    </div>
</div>