<div class="sidebar">
    <div class="fixedcontainer">
        @if(services.AuthService.isLogged) {
            <div class="block">
                <h3>Пульт</h3>
                <ul>
                    <li><a href="@routes.Courses.my()">Мой контент</a></li>
                    <li><a href="@routes.Courses.add()">Добавить контент</a></li>
                </ul>
            </div>
        }

        <div class="block categories">
            <h3>Категории</h3>
            <ul>
                <li><a href="@routes.Application.home()">Все</a></li>
                @for(c <- Category.getActiveCategories) {
                    <li><a href="@routes.Application.category(c.slug)">@c.name</a></li>
                }
            </ul>
        </div>

    </div>
</div>