<div class="sidebar">
    <div class="fixedcontainer">
        <div class="block">
            <h3>Пульт</h3>
            <ul>
                <li><a href="add.html">Добавить контенет</a></li>
                <li><a href="#">Мои уроки</a></li>
            </ul>
        </div>

        <div class="block categories">
            <h3>Категории</h3>
            <ul>
                <li><a href="#" class="current">Java</a></li>
                <li><a href="#">JavaScript</a></li>
                <li><a href="#">HTML &amp; CSS</a></li>
                <li><a href="#">Прочее</a></li>
            </ul>
        </div>
    </div>
</div>